a {
  color: #85134e;
  text-decoration: none;
  background: linear-gradient(currentColor, currentColor) no-repeat;
  background-size: 100% 1px;
  background-position: 0 1.2em;
  text-shadow: -0.15em 0 #fff, 0.15em 0 #fff;
}
a:hover {
  color: #333;
}

h2 {
  color: #042229;
  font-size: 3rem;
  font-weight: bold;
  padding: 2.5rem 0 0;
}
h2:first-of-type {
  padding-top: 5rem;
}

h2,
h3,
p,
ul,
ol,
dl,
address {
  margin: 0 0 1.5rem;
}

.list-item {
  color: #aaa;
  margin: 0 0 1em 2rem;
  list-style: square;
}
.list-item__title,
.list-item__details {
  display: inline;
}
.list-item__title {
  color: #666;
}
.list-item__link,
.list-item__tasks {
  margin: 0 0 0 .5em;
}

.keywords::after {
  content: '';
  display: block;
  clear: both;
}
.keyword {
  float: left;
  list-style: none;
}
.keyword:not(:last-child)::after {
  content: '/';
  display: inline;
  padding: 0 .5rem;
  color: #ccc;
}

.contact {
  margin: 7.5vw -7.5vw -7.5vw;
  padding: 7.5rem 7.5vw;
  background: #eee;
}
.contact a {
  text-shadow: -0.15em 0 #eee, 0.15em 0 #eee;
}
.contact__address {
  margin: 5rem 0 0;
  font-size: 1.5rem;
  color: #999;
}
