/* http://meyerweb.com/eric/tools/css/reset/ 
	 v2.0 | 20110126
	 License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}


html,
body {
	min-height: 100%;
}
body {
	font: 400 .925em/1.5em 'Raleway', Helvetica, Arial, Verdana, sans-serif;
	color: #aaa;
	background: #111;
}
body:after {
	content: '';
	display: block;
	position: absolute;
	z-index: -1;
	left: 50%;
	margin: -20px 0 0 -20px;
	width: 30px;
	height: 30px;
	border: 5px solid transparent;
	border-right-color: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-animation: loading 1.5s linear infinite;
	-moz-animation: loading 1.5s linear infinite;
	-ms-animation: loading 1.5s linear infinite;
	-o-animation: loading 1.5s linear infinite;
	animation: loading 1.5s linear infinite;
}
.no-touch body:after {
	top: 50%;
}
.touch body:after {
	top: 25%;
}
@-webkit-keyframes loading {
	from { -webkit-transform: rotate(0deg);   opacity: .2; }
	50%  { -webkit-transform: rotate(180deg); opacity: 1; }
	to   { -webkit-transform: rotate(360deg); opacity: .2; }
}
@-moz-keyframes loading {
	from { -moz-transform: rotate(0deg);   opacity: .2; }
	50%  { -moz-transform: rotate(180deg); opacity: 1; }
	to   { -moz-transform: rotate(360deg); opacity: .2; }
}
@-ms-keyframes loading {
	from { -ms-transform: rotate(0deg);   opacity: .2; }
	50%  { -ms-transform: rotate(180deg); opacity: 1; }
	to   { -ms-transform: rotate(360deg); opacity: .2; }
}
@-o-keyframes loading {
	from { -o-transform: rotate(0deg);   opacity: .2; }
	50%  { -o-transform: rotate(180deg); opacity: 1; }
	to   { -o-transform: rotate(360deg); opacity: .2; }
}
@keyframes loading {
	from { transform: rotate(0deg);   opacity: .2; }
	50%  { transform: rotate(180deg); opacity: 1; }
	to   { transform: rotate(360deg); opacity: .2; }
}

.bg {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	background: url(mg.jpg) no-repeat;
}
.no-touch .bg {
	position: fixed;
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-ms-background-size: cover;
	-o-background-size: cover; 
	background-size: cover;
	background-position: center;
}
.touch .bg {
	position: absolute;
	-webkit-background-size: 100% auto; 
	-moz-background-size: 100% auto; 
	-ms-background-size: 100% auto; 
	-o-background-size: 100% auto; 
	background-size: 100% auto;
	background-position: top;
}


::-moz-selection {
	background: #ffe701;
	color: #fff;
}
::selection {
	background: #ffe701;
	color: #fff;
}

.no-touch .container {
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
}
.mg {
	opacity: 0;
}
.mg--loaded {
	opacity: 1;
	-webkit-transition: .5s opacity ease;
	-moz-transition: .5s opacity ease;
	-ms-transition: .5s opacity ease;
	-o-transition: .5s opacity ease;
	transition: .5s opacity ease;
}
.touch .mg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}
.content {
	position: relative;
	z-index: 1;
	background: #222;
	background: rgba(0,0,0,.65);
	padding: 4em;
}
.touch .content {
	padding-top: 100%;
}

p,
li,
a,
h1,
h2,
h3,
h4,
address,
span,
small {
	line-height: 1.75em;
	text-shadow: 1px 1px 1px #000;
}
a {
	color: #ccc;
	-webkit-transition: color .3s ease;
	-moz-transition: color .3s ease;
	-ms-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease;
}
a:hover {
	color: #ffe701;
}

h1, h2, h3, h4 {
	color: #fff;
}
.name {
	font-size: 4em;
	line-height: 1em;
	z-index: 1;
	text-align: center;
	cursor: default;
	top: 75%;
	left: 0;
	right: 0;
	position: fixed;
	z-index: 1;
}
.touch .name {
	position: absolute;
	top: 50%;
}
.no-touch .name:after{
	content: '';
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	border: 10px solid transparent;
	border-top-color: #fff;
	position: absolute;
	left: 50%;
	bottom: -100%;
	margin-left: -10px;
}
.name,
h2 {
	font-weight: 100;
}
h2, h3 {
	margin: .5em 0;
}
h2 {
	font-size: 3em;
	margin-bottom: 1.5em;
}
h3 {
	font-size: 1.25em;
}
h4 > small {
	font-weight: normal;
	font-size: .8em;
	color: #ffe701;
}
h4 > span {
	font-weight: normal;
}
p, ul, ol, address {
	margin-bottom: 1.5em;
}
p:last-child {
	margin-bottom: 0;
}
ul > li {
	list-style: square;
	margin: 0 0 1em 1.5em;
}

.keywords {
	overflow: hidden;
}
.keyword {
	float: left;
	list-style: none;
	margin: 0;
	color: #fff;
}
.keyword:after {
	content: '/';
	display: inline;
	padding: 0 .5em;
	color: #999;
}
.keyword:last-child:after {
	content: none;
	display: none;
	visibility: hidden;
	padding: 0;
}

.contact_type {
	display: inline-block;
	float: left;
	padding: 0 5em 1em 0;
}
.law {
	clear: both;
}
.contact .keyword {
	margin-bottom: 0;
}
.projects {
	margin-bottom: 2.5em;
}
.project h4 {
	display: inline-block;
	padding-right: .6em;
}
.project p {
	display: inline-block;
}

section {
	border-top: 1px dotted #666;
	border-top-color: rgba(255,255,255,.25);
	padding: 4em 0 0;
	margin: 5em 0 0;
}

small {
	font-size: .9em;
	color: #999;
	margin-bottom: 0;
}

@media (max-width: 40em) {
	.name {
		font-size: 3em;
		top: 60%;
	}
	h2 {
		font-size: 2em;
	}
	.content {
		padding: 2em 1em;
	}
	.project {
		width: auto;
		float: none;
	}
	.project:nth-child(even) {
		margin-left: 1.5em;
	}
}