/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font: .75em/1.5em 'Droid Sans', Helvetica, Arial, Verdana, sans-serif;
	color: #999;
}

::-moz-selection {
	background: #ffe701;
	color: #fff;
}
::selection {
	background: #ffe701;
	color: #fff;
}

.container {
	width: 38.2%;
	float: right;
	position: relative;
	z-index: 1;
	background: #222;
	background: rgba(0,0,0,.8);
	padding: 4em 4em 3em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	min-width: 28em;
}

p,
li,
a,
h1,
h2,
h3,
h4,
address,
span,
small {
	line-height: 1.75em;
	text-shadow: 1px 1px 1px #000;
}
a {
	color: #ccc;
	-webkit-transition: color .3s ease;
	-moz-transition: color .3s ease;
	-ms-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease;
}
a:hover {
	color: #ffe701;
}

h1, h2, h3, h4 {
	font-weight: bold;
	color: #fff;
}
h1 {
	font: 3.5em 'Nothing you could do', cursive;
	letter-spacing: -.075em;
	line-height: 1em;
	margin: .25em 0 0em;
}
h2, h3 {
	margin: .5em 0;
}
h2 {
	font: 2em 'Nothing you could do', cursive;
	margin-bottom: 1.5em;
}
h2.subtitle {
	font-size: 1.5em;
}
h3 {
	font-size: 1.25em;
}
h4 > small {
	font-weight: normal;
	font-size: .8em;
	color: #ffe701;
}
h4 > span {
	font-weight: normal;
}
p, ul, ol, address {
	margin-bottom: 1.5em;
}
p:last-child {
	margin-bottom: 0;
}
ul > li {
	list-style: square;
	margin: 0 0 1em 1.5em;
}
strong {
	font-weight: bold;
}

.keywords {
	overflow: hidden;
}
.keyword {
	float: left;
	list-style: none;
	margin: 0;
	color: #fff;
}
.keyword:after {
	content: '/';
	display: inline;
	padding: 0 .5em;
	color: #999;
}
.keyword:last-child:after {
	content: none;
	display: none;
	visibility: hidden;
	padding: 0;
}

.contact_type {
	display: inline-block;
	float: left;
	padding: 0 5em 1em 0;
}
.law {
	clear: both;
}
.contact .keyword {
	margin-bottom: 0;
}
.projects {
	margin-bottom: 2.5em;
}
.project h4 {
	float: left;
	padding-right: .6em;
}

section {
	border-top: 1px dotted #666;
	border-top-color: rgba(255,255,255,.25);
	padding: 4em 0 0;
	margin: 5em 0 0;
}

small {
	font-size: .9em;
	color: #666;
	margin-bottom: 0;
}

#bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
#bg > img {
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	display: block;
}

@media (max-height: 640px) {
	#bg > img {
		bottom: auto;
		top: -25%;
	}
}

@media (max-width: 48em) {
	#bg {
		position: static;
	}
	#bg > img {
		position: static;
		width: 100%;
		height: auto;
		min-width: 0;
		min-height: 0;
	}
	.container {
		position: relative;
		top: auto;
		left: auto;
		right: auto;
		bottom: auto;
		width: auto;
		margin: 0;
		padding: 3em 3em 2em;
		background: #151515;
	}
	h1 {
		font-size: 2.5em;
	}
	.projects {
		overflow: hidden;
	}
	.project {
		width: 48%;
		float: left;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
	}
	.project:nth-child(even) {
		margin-left: 0;
	}
}

@media (max-width: 40em) {
	.container {
		padding: 2em;
	}
	.project {
		width: auto;
		float: none;
	}
	.project:nth-child(even) {
		margin-left: 1.5em;
	}
}